---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import { GET as GetPicks } from '../pages/api/picks/index.ts';
let picks = [];
const response = await GetPicks(Astro);
const data = await response.json();
picks = data.documents;
---
<DefaultLayout title="Manage">
    <main class="mx-auto">
        { picks.map( pick =>{
            return <div class="text-black flex flex-row gap-1 p-2 border-b justify-between border-b-black">
                <div class="justify-start">
                    <span class="border-r border-r-black pr-1">{pick.pick}</span>
                    <span class="">{pick.email}</span>
                    <span class="">{pick.display} </span>
                </div>
                <div class="">
                    <button type="button" onclick=`pay({pick.pick})` class="px-3 border border-green-800 rounded-md">Mark Paid</button>
                    <button type="button" onclick=`pay({pick.pick})` class="px-3 border border-red-800 rounded-md">Delete</button>
                    
                </div>
            </div>
        })}
    </main>
</DefaultLayout>
<script is:inline>
    function pay( id ){
        console.log( id );
    }
</script>