---
interface Props {
  q: number,
  payout: number,
  afc: number,
  nfc: number
}
const { q, payout, afc, nfc } = Astro.props;
---
<div class="border w-full bg-slate-100 border-slate-500 my-1 mx-2 p-1 rounded-md" id={`q${q}scoreCard`}>
    <div class="flex-col">
        <div class="flex flex-row justify-between">
            <div class="font-bold text-lg">End of { q === 4 ? 'Final' : `Q${q}`}</div>
            <div class="font-bold bg-green-700 text-white w-1/4 p-1 flex justify-center" id={`q${q}payout`}>${payout || '--'}</div>
        </div>
        <div class="flex flex-row justify-around">
            <div class="bg-afc-primary border-afc-primary text-nfl-white font-bold h-12 w-full flex justify-center items-center line-h" id={`q${q}afc`}>{afc || '--'}</div>
            <div class="bg-nfc-primary border-nfc-primary text-nfl-white font-bold h-12 w-full flex justify-center items-center line-h" id={`q${q}nfc`}>{nfc || '--'}</div>
        </div>
        <div class="w-full items-center">
            winner
        </div>
    </div>
</div>