---
import type { Pick } from './Square.astro';

interface Props {
  q: number,
  payout: number,
  afc: number,
  nfc: number,
  winner: Pick
}
const { q, payout, afc, nfc, winner } = Astro.props;
---
<div class="border w-full bg-slate-100 border-slate-500 my-1 mx-2 p-1 rounded-md" id={`q${q}scoreCard`}>
    <div class="flex-col">
        <div class="flex max-sm:flex-col flex-row justify-between">
            <div class="font-bold text-lg">{ q === 4 ? 'Final' : `End of Q${q}`}</div>
            <div class="font-bold max-sm:w-auto  w-1/4 p-1 flex justify-center bg-green-700 text-white" id={`q${q}payout`}>
                <span class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">${payout || '--'}</span>
            </div>
        </div>
        <div class="flex flex-row justify-around">
            <div class="bg-afc-primary border-afc-primary text-nfl-white font-bold h-12 w-full flex justify-center items-center line-h" id={`q${q}afc`}>
                <span class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">{afc || '--'}</span>
            </div>
            <div class="bg-nfc-primary border-nfc-primary text-nfl-white font-bold h-12 w-full flex justify-center items-center line-h" id={`q${q}nfc`}>
                <span class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">{nfc || '--'}</span>
            </div>
        </div>
        <div class:list={["w-full items-center h-full", `q${q}win`]}>
            <span class="text-sm">Winner:</span>
            <span class="font-bold">{winner?.display || '--'}</span>
        </div>
    </div>
</div>