---
import '../styles/squares.css';
import PurchaseSquaresAddon from "@components/PurchaseSquaresAddon.astro";
import Square from "@components/Square.astro";
import {SquareState} from "@components/Square.astro";

let { price, picks } = Astro.props;
picks = picks || [];

const ROWS = 'ABCDEFGHIJ'.split('');
const COLS = [...Array(10).keys()];
const Qs = [1,2,3,4];

---
<PurchaseSquaresAddon price={price} />
<div class="board-grid center text-center border border-solid border-gray-500"> 

  <div id="logo" class="bg-nfl-white border-0">
    <img class="h-full max-h-full max-w-full justify-center" src="img/nfl-shield.svg">
    
  </div>

  <!--Corners -->
  {Qs.map( q => <div class:list={["qFont",`q${q}`,"text-lg font-bold leading-normal text-left py-1"]} id={`chq${q}`}>Q{q}</div> )}
  
  <!-- NFC Headers -->
  <div id="champNFC" class="bg-nfc-primary bg-center bg-no-repeat bg-cover border border-solid border-gray-500">
    <img class="mw-100 mh-100 h-full" src="img/nfc-logo.svg">
  </div>
  {Qs.map( q => { 
    return <div class:list={["text-lg font-bold leading-normal",`q${q}`]} id={`nfchq${q}`}>
      <table class="size-full border-l border-solid border-gray-500">
        <tbody>
          <tr id={`nfchq${q}-numbers`}>{COLS.map( c=> <td id={`nfc-h-q${q}-${c}`} class="max-sm:text-sm">#</td>)}</tr>
        </tbody>
      </table>
    </div>
  })}
  
  <!-- AFC Headers -->
  <div id="champAFC" class="text-lg font-bold leading-normal bg-afc-primary bg-center bg-no-repeat bg-cover flex flex-col justify-center border border-solid border-gray-500" >
    <div id="afcBanner" class="">
      <img src="img/afc-logo.svg" class="w-full">
    </div>
  </div>
  {Qs.map( q => { 
    return <div class:list={["column", "header",`q${q}`]} id={`afchq${q}`}>
      <table class="size-full border-t border-solid border-gray-500">
        <tbody>
          {ROWS.map( r=><tr><td id={`afc-h-q${q}-${r}`} class="max-sm:text-sm" >#</td></tr>)}
        </tbody>
      </table>
    </div>
  })}

  <!--Main Grid -->
  <div id="gridsquares">
    <table class="size-full">
      <tbody>
        {ROWS.map(row=>{
          return <tr>
            {COLS.map( col =>{

              let state = SquareState.OPEN;
              let pick = picks?.find( doc => doc.pick === `${row}${col}`);
              if( pick ) {
                state = pick.paid ? SquareState.BOOKED : SquareState.RESERVED;
              }
              return <Square row={row} col={col} state={state} pick={pick} />
            })}
          </tr>
        })}
      </tbody>
    </table>
  </div>
</div>
