---
import '../styles/squares.css';
import Square from "@components/Square.astro";
import {SquareState} from "@components/Square.astro";

const { picks } = Astro.props;

const ROWS = 'ABCDEFGHIJ'.split('');
const COLS = [...Array(10).keys()];
const Qs = [1,2,3,4];

---
<script is:inline>
  let clickedSquares = [];
</script>

<div class="border border-zinc-700 p-2 max-w-[900px] flex flex-row">
  <button type="button" class="h-8 px-3 inline-block rounded-full border-2 border-red-600">Purchase</button>
  <div class="px-1 font-semibold">Selected&nbsp;Squares:&nbsp;</div>
  <div class="" id="clickedList"></div>
</div>
<div class="board-grid center"> 

  <div id="logo">
    <img class="max-h-full max-w-full justify-center" src="img/nfl-shield.svg">
    <span id="squaresleft" class="text-sm" >X squares left.</span>
  </div>

  <!--Corners -->
  {Qs.map( q => <div class:list={["qFont",`q${q}`,"header","cornerheader"]} id={`chq${q}`}>Q{q}</div> )}
  
  <!-- NFC Headers -->
  <div id="champNFC"><img class="mw-100 mh-100" src="img/nfc-logo.svg"></div>
  {Qs.map( q => { 
    return <div class:list={["header",`q${q}`]} id={`nfchq${q}`}>
      <table>
        <tbody>
          <tr id={`nfchq${q}-numbers`}>{COLS.map( c=> <td id={`nfc-h-q${q}-${c}`}>#</td>)}</tr>
        </tbody>
      </table>
    </div>
  })}
  
  <!-- AFC Headers -->
  <div class="header" id="champAFC">
    <div id="afcBanner"><img src="img/afc-logo.svg"></div>
  </div>
  {Qs.map( q => { 
    return <div class:list={["column", "header",`q${q}`]} id={`afchq${q}`}>
      <table>
        <tbody>
          {ROWS.map( r=><tr><td id={`afc-h-q${q}-${r}`}>#</td></tr>)}
        </tbody>
      </table>
    </div>
  })}

  <!--Main Grid -->
  <div id="gridsquares">
    <table>
      <tbody>
        {ROWS.map(row=>{
          return <tr>
            {COLS.map( col =>{

              let state = SquareState.OPEN;
              let pick = picks?.find( doc => doc.pick === `${row}${col}`);
              if( pick ) {
                state = pick.paid ? SquareState.BOOKED : SquareState.RESERVED;
              }
              return <Square row={row} col={col} state={state} pick={pick} />
            })}
          </tr>
        })}
      </tbody>
    </table>
  </div>
</div>
